<header>
<div class="app-container">
  <div class="custom-navbar">
    <div>Medicamentos.com</div>
    <div>
      <button class="custom-button" [matMenuTriggerFor]="aboveMenu">Farmacias</button>
      <button class="custom-button" [matMenuTriggerFor]="belowMenu">Perfil</button>
      <button class="custom-button" [matMenuTriggerFor]="beforeMenu">Pedidos</button>
      <button class="custom-button" [matMenuTriggerFor]="afterMenu">Cerra Sesion</button>
    </div>
  </div>

  <mat-menu #aboveMenu="matMenu" yPosition="above" class="custom-menu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <mat-menu #belowMenu="matMenu" yPosition="below" class="custom-menu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <mat-menu #beforeMenu="matMenu" xPosition="before" class="custom-menu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <mat-menu #afterMenu="matMenu" xPosition="after" class="custom-menu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</div>
</header>
<Section>
  <div class="main-content">
    <!-- Contenido principal de la página -->
    <h1>Bienvenido a mi aplicación Angular</h1>
    <p>Aquí va el resto del contenido...</p>
  </div>
</Section>